<div class="loginbox">
  <img class="avatar" src="../../../assets/images/logo.png" alt="logo de EasyWaller">
  <h1>Crea tu plan de presupuesto</h1>
    <form>
        <!-- Usuario-->
        <input type="text" placeholder="Introducir Email" >
        <!-- Contraseña-->
        <input type="password" placeholder="Introducir contraseña" >

        <input type="submit" value="Iniciar sesión" (click)="facebookLogin()">

      <a href="#">¿Olvidaste tu contraseña?</a><br>
      <a>¿No tienes cuenta?   </a>
      <a [routerLink]="['/users']" routerLinkActive="router-link-active" >Crea tu cuenta gratis aquí</a><br>
  </form>
</div>
