<div class="loginbox">
    <img class="avatar" src="../../../assets/images/logo.png" alt="logo de EasyWaller">
        <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                  <input type="text" name="name" #name="ngModel"
                    [(ngModel)]="userService.selectuser.name" placeholder="Ingresa tu nombre">

                  <input type="text" name="email" #name="ngModel"
                  [(ngModel)]="userService.selectuser.email" placeholder="Ingresa correo">

                  <button class="btn">Registrase</button>

          </form>
</div>

