
  <div class="no-js">
    <nav id ="topNav" class ="nav-wrapper green">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <div class="container">
            <a href="/" class="brand-logo">EasyWallet</a>
            <ul>
                <li class="col">
                  <a title="Cuentas">Cuentas</a>
                  <ul>
                      <li><a [routerLink]="['account']" routerLinkActive="router-link-active">Crear Cuenta</a></li>
                      <li><a href="#" title="Sub Nav Link 2">Editar Cuentas</a></li>
                      <li><a href="#" title="Sub Nav Link 3">Eliminar Cuentas</a></li>
                      <li><a href="#" title="Sub Nav Link 4">Ver</a></li>
                  </ul>
                </li>
            <li class="col">
                <a href="#" title="Transacciones">Transacciones</a>
                <ul>
                    <li><a href="#" title="Sub Nav Link 1">Sub Nav Link 1</a></li>
                    <li><a href="#" title="Sub Nav Link 2">Sub Nav Link 2</a></li>
                    <li><a href="#" title="Sub Nav Link 3">Sub Nav Link 3</a></li>
                    <li><a href="#" title="Sub Nav Link 4">Sub Nav Link 4</a></li>
                    <li class="last"><a href="#" title="Sub Nav Link 5">Sub Nav Link 5</a></li>
                </ul>
            </li>
            <li  class="col"><a href="#" title="Nav Link 1">Reportes</a></li>
            <li  class="col"><a style="cursor: pointer;" *ngIf=" userService.loggedIn" (click)="userService.getlogouUser()" title="Cerrar Sesión">Cerrar Sesión</a></li>

          </ul>
        </div>
      </nav>
      <script src="js/jquery.js"></script>
      <script src="js/modernizr.js"></script>
</div>
